In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("Coffe_sales (1).csv")

In [5]:
df.head()

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort,Date,Time
0,10,card,38.7,Latte,Morning,Fri,Mar,5,3,2024-03-01,10:15:50.520000
1,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:19:22.539000
2,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:20:18.089000
3,13,card,28.9,Americano,Afternoon,Fri,Mar,5,3,2024-03-01,13:46:33.006000
4,13,card,38.7,Latte,Afternoon,Fri,Mar,5,3,2024-03-01,13:48:14.626000

In [6]:
df["Date"] = pd.to_datetime(df['Date'])

In [8]:
df["Date"]

0      2024-03-01
11     2024-03-02
17     2024-03-03
26     2024-03-04
30     2024-03-05
          ...
3468   2025-03-19
3489   2025-03-20
3509   2025-03-21
3529   2025-03-22
3541   2025-03-23
Name: Date, Length: 381, dtype: datetime64[ns]

In [9]:
df['Date'] = df['Date'].apply(lambda x: x.strftime('%d-%b-%Y'))

In [10]:
df['Date']

0       01-Mar-2024
11      02-Mar-2024
17      03-Mar-2024
26      04-Mar-2024
30      05-Mar-2024
           ...
3468    19-Mar-2025
3489    20-Mar-2025
3509    21-Mar-2025
3529    22-Mar-2025
3541    23-Mar-2025
Name: Date, Length: 381, dtype: object

In [11]:
df.head()

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort,Date,Time
0,10,card,38.7,Latte,Morning,Fri,Mar,5,3,01-Mar-2024,10:15:50.520000
11,10,card,28.9,Americano,Morning,Sat,Mar,6,3,02-Mar-2024,10:22:06.957000
17,10,card,38.7,Latte,Morning,Sun,Mar,7,3,03-Mar-2024,10:27:18.561000
26,10,card,38.7,Latte,Morning,Mon,Mar,1,3,04-Mar-2024,10:03:51.994000
30,9,card,38.7,Latte,Morning,Tue,Mar,2,3,05-Mar-2024,09:59:52.651000

In [12]:
df["Datetime"] = df["Date"] + df["Time"]

In [13]:
df["Datetime"]

0       01-Mar-202410:15:50.520000
11      02-Mar-202410:22:06.957000
17      03-Mar-202410:27:18.561000
26      04-Mar-202410:03:51.994000
30      05-Mar-202409:59:52.651000
                   ...
3468    19-Mar-202507:03:07.073000
3489    20-Mar-202508:13:16.283000
3509    21-Mar-202507:06:11.979000
3529    22-Mar-202509:05:13.059000
3541    23-Mar-202510:07:11.278000
Name: Datetime, Length: 381, dtype: object

In [5]:
df = df.drop(columns=[‘Date’, ‘Time’ , ‘Weekdaysort’, ‘Monthsort’])

SyntaxError: invalid character '‘' (U+2018) (1800748325.py, line 1)

In [15]:
df.head()

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort,Date,Time,Datetime
0,10,card,38.7,Latte,Morning,Fri,Mar,5,3,01-Mar-2024,10:15:50.520000,01-Mar-202410:15:50.520000
11,10,card,28.9,Americano,Morning,Sat,Mar,6,3,02-Mar-2024,10:22:06.957000,02-Mar-202410:22:06.957000
17,10,card,38.7,Latte,Morning,Sun,Mar,7,3,03-Mar-2024,10:27:18.561000,03-Mar-202410:27:18.561000
26,10,card,38.7,Latte,Morning,Mon,Mar,1,3,04-Mar-2024,10:03:51.994000,04-Mar-202410:03:51.994000
30,9,card,38.7,Latte,Morning,Tue,Mar,2,3,05-Mar-2024,09:59:52.651000,05-Mar-202409:59:52.651000